ijson==3.2.3
incdbscan==0.1.0
matplotlib==3.8.2
neo4j==5.16.0
networkx==2.8.8
numpy==1.26.4
pandas==2.2.1
prettytable==3.10.0
psutil==5.9.8
py2neo==2021.2.4
pytz==2023.3.post1
quadprog==0.1.12
scikit_learn==1.4.0
scipy==1.12.0
tqdm==4.66.1
typing_extensions==4.10.0
